<h1>w o r m c r e a t e . c o m </h1>
<p>Find me in app/views/homepage/index.html.erb</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script>
let remember_path = [];
console.log("hello");
var canvas;

function setup() {
    createCanvas(800, 800);
    var randomColorBG1 = getRandomInt(255);
    var randomColorBG2 = getRandomInt(255);
    var randomColorBG3 = getRandomInt(255);
    var randomColorBG1 = getRandomInt(255);
    var randomColorBG2 = getRandomInt(255);
    var randomColorBG3 = getRandomInt(255);

    var randomColorDec = Math.random();
    var bg_string = 'rgba('+randomColorBG1+','+randomColorBG2+','+randomColorBG3+ ',' + randomColorDec+')';
    background(bg_string);
}
var randomColorBG1 = getRandomInt(255);
var randomColorBG2 = getRandomInt(255);
var randomColorBG3 = getRandomInt(255);
var randomColorBG1 = getRandomInt(255);
var randomColorBG2 = getRandomInt(255);
var randomColorBG3 = getRandomInt(255);
var saved_bg = '';
var randomColorDec = Math.random();
var bg_string = 'rgba('+randomColorBG1+','+randomColorBG2+','+randomColorBG3+ ',' + randomColorDec+')';  var game_tick_pressed = 0;
 function draw() {
     var randomColorDec = Math.random();
   if (mouseIsPressed) {
   
        var randomColorBG1 = getRandomInt(255);
        var randomColorBG2 = getRandomInt(255);
        var randomColorBG3 = getRandomInt(255);

        var randomColorDec = Math.random();
        var bg_string = 'rgba('+randomColorBG1+','+randomColorBG2+','+randomColorBG3+ ',' + randomColorDec+')';

    
        var opa_track = .2;
        game_tick_pressed ++;
        if(game_tick_pressed <= 1){
        saved_bg = bg_string;
        background(bg_string);
        }else{background(saved_bg);}
    
        for(var i = remember_path.length - 1; i >= remember_path.length - 550 && i >= 0; i--){
            var random = Math.random() * 30 + 30;
            var randomColor = getRandomInt(255) ;
            var randomColorDec2 = Math.random();
            var randomColorBG6 = getRandomInt(255);
            var randomColorBG5 = getRandomInt(255);
            var randomColorBG4 = getRandomInt(255);
            var ranIntTo80 = getRandomInt(80)
            
            var bg_string_2 = 'rgba('+randomColorBG4+','+randomColorBG5+','+randomColorBG6+ ',' + opa_track+')';
            ellipse(remember_path[i]["mouseX"], remember_path[i]["mouseY"], opa_track*100, opa_track*100);
      
            if(i % 20 == 0){
                fill(bg_string_2);
                
                opa_track += .1;
            }
                
            if(opa_track >= 1){
                opa_track = 0;
            }
        }
    var coords = {"mouseX": mouseX, "mouseY": mouseY};
    remember_path.push(coords);
    }
    else{
        remember_path=[];
        game_tick_pressed = 0;
    }
function mouseReleased(){

    background(bg_string);
}

}
function getRandomInt(max) {
return Math.floor(Math.random() * max);
}
</script>