
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <p>Hey newbie,</p>
  <p>
        I am very pleased to welcome you to friendlywormfarm.  To activate your account, navigate back to the site "Account Activation" section and supply the activation code below to get going.
  </p>
   <%= @activation_token %>
   <br /><br />
   <p>Yours truly,
   <br />
   <br /> 
   <span>wormMan007</span>
   <br />
   <i>The Johannes Gütenberg of Generating Worms</i>
   <br />
   <i>The Steve Jobs of Generated Worm Farming</i>
   </p>
</body>
</html>