<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello there,</p>
    <p>
        We have received a request to reset your password.  Please navigate to wormcreate.com, select 'reset password', and supply the code below to set your new password.
    </p>
     <%= @forgot_token %>
     <br /><br />
     <p>Yours truly,<br /> <i>wormMan007</i></p>
  </body>
</html>