<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello there,</p>
    <p>
        We have received a request to change the email associated with your friendlywormfarm account from <%= @old_email %> to <%= @new_email %>.  Please navigate to friendlywormfarm.com.  If you have logged out, login successfully for the last time with your old email address, select 'reset email', and supply the code below to change your email to <%= @new_email %>.
    </p>
     <%= @reset_token %>
     <br /><br />
     <p>Yours truly,
     <br />
     <br /> 
     <span>wormMan007</span>
     <br />
     <i>The Johannes Gütenberg of Generating Worms</i>
     <br />
     <i>The Steve Jobs of Generated Worm Farming</i>
     </p>
  </body>
</html>