/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.mainImgBG{
    background-image: url('worm_27.png') !important;
    height: 60vh;
    background-repeat: no-repeat;
    background-color: black;
    background-position: right;
}
.no-rice-bg{
    background-image: url('no_rice.png') !important;
    width: 16vh;
    height: 9em;
    background-position: center;
    background-size: cover;
    border-radius: 88px;
}
.no-trees-bg{
    background-image: url('no_trees.jpg') !important;
    width: 16vh;
    height: 9em;
    background-position: center;
    background-size: cover;
    border-radius: 88px;
}
.yes-worm-bg{
    background-image: url('worm_yes.png') !important;
    width: 16vh;
    height: 9em;
    background-position: center;
    background-size: cover;
    border-radius: 88px;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: none;
}